@model IList<Jogo>

@{
    ViewData["Title"] = "Listar";
}

<h1>Lista de Jogos</h1>

<mensagem texto="@TempData["msg"]"></mensagem>

<form asp-action="pesquisar" method="get" class="form-inline mb-3">
    <input type="text" name="termoBusca" class="form-control mr-3" placeholder="Digite o nome do jogo"/>
    <botao texto="Pesquisar"></botao>
</form>
<form asp-action="buscar" method="get" class="form-inline mb-3">
    <select name="termoBusca" asp-items="@ViewBag.generos" class="form-control mr-3">
        <option>Selecione</option>
    </select>
    <botao texto="Pesquisar"></botao>
</form>
<table class="table">
    <tr>
        <th>Nome</th>
        <th>Data Lançamento</th>
        <th>Platafoma</th>
        <th>Disponível</th>
        <th>Gênero</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.DataLancamento.ToShortDateString()</td>
            <td>@item.Plataforma</td>
            <td>@(item.Disponivel ? "Sim" : "Não")</td>
            <td>@item.Genero.Nome</td>
            <td>
                @if (!item.Disponivel)
                {
                    <a asp-action="editar" asp-route-id="@item.JogoId" class="btn btn-outline-primary btn-sm">Editar</a>
                    <!-- Botão para acionar modal -->
                    <button onclick="codigo.value = @item.JogoId" type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#modalExemplo">
                        Excluir
                    </button>
                    <button onclick="jogoId.value = @item.JogoId" type="button" class="btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#modalExemplo2">
                        Disponibilizar
                    </button>
                }
            </td>
        </tr>
    }
</table>

<!-- Modal -->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja realmente excluir?
            </div>
            <div class="modal-footer">
                <form asp-action="excluir">
                    <input type="hidden" name="codigo" id="codigo" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalExemplo2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Deseja realmente disponibilizar?
            </div>
            <div class="modal-footer">
                <form asp-action="disponibilizar">
                    <input type="hidden" name="jogoId" id="jogoId" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                    <button type="submit" class="btn btn-danger">Sim</button>
                </form>
            </div>
        </div>
    </div>
</div>